@model Project.Core.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CodeAppLevelApp</title>

    <script type="text/javascript" src="~/Content/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/flowtype.js"></script>
    <script type="text/javascript">

	        var width = $(window).width(), height = $(window).height();
	        $(function(){
	          $('body').flowtype();
	        });

    </script>

    <link rel="stylesheet" type="text/css" href="~/Content/css/styleregister.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>

</head>

<body class="body">

    <div class="usericon">
        <img src="~/Content/img/usericonregister.png">
    </div>


    <div class="container">
        <form class="inputfields" action="/Users/Register" method="post">

            <label>Register</label>

            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "usernameinput", @placeholder = "Username" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "passwordinput", @placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "emailinput", @placeholder = "Email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            

            <button class="submitbtn" type="submit">Register</button>

        </form>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>

</html>